/*

!.gitignore
!README.md
!data.json
!main.py
!pytest.ini
!.coveragerc

!model
!model/*.py

!views
!views/*.py

!controllers
!controllers/*.py

!icon
!icon/*

unit-tests/.pytest_cache
!unit-tests
!unit-tests/*.py
!unit-tests/*/*.py

!load-testing
!load-testing/*.py
load-testing/*.json